.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form_group {
    margin-bottom: 15px;
}
.form_group label {
    display: block;
    margin-bottom: 5px;
}
.form_group input, .form_group select, .form_group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.form_group input[type="range"] {
    width: 100%;
}
.form_group input[type="file"] {
    padding: 3px;
}
.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}